body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.bg{
    display: flex;
}
.bgImage{
    background-image: url("coursemate-images/bg-5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
}

.bgImage h1 {
    color: white;
    font-style: italic;
    font-weight: 700;
    padding: 20px;
    background-color: rgb(1, 58, 1, 0.5);
}

.contentPageRight{
   background-color: white;
   height: 100vh;
   width: 50%;
   box-shadow: 0px 0px 20px rgb(1, 58, 1);
   
}