<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Course</title>
    <link rel="stylesheet" href="create_course.css">
</head>
<body>
    
    <!-- Create Course -->
    <div class="createCourseContainer">

        <!-- Form Create Course -->
        <form action="submit">


            <h1>Create a new course</h1>

            <div>
                <label for="course_name">Enter course name</label>
                <input type="text">
            </div>

            <div>
                <label for="course_description">Course description</label>
                <input type="text">
            </div>
            
            <div>
                <label for="course_expectations">Course Expectations</label>
                <input type="text">
            </div>

            <div>
                <label for="course_description">Course description</label>
                <input type="text">
            </div>
        
            <div>
                <h2>Add course modules</h2>
                <p>Add a short guide for students who will be accessing this module</p>
                <input type="text">
            </div>
            

        </form>

    </div>
</body>
</html>