<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice Board</title>
    <link rel="stylesheet" href="notice_board.css">
</head>
<body>
    
    <div class="noticeBoardContainer">


         <!-- Top Nav -->
         <div class="studentNav">

            <h2>Logo</h2>
            <div class="topRightStudent">
                <a href="student_portal.html">Home</a>
                <a href="resources">Resources</a>
                <a href="timetable">Timetable</a>
                <a href="notice_board.html">Notice Board</a>
                <a href="groups">Groups</a>
                <a href="contacts">Contacts</a>
                <a href="assignments">Assignments</a>
                <a href="grades">Grades</a>
                <div class="studentProfile">
                    <div class="profileImageStudent">

                    </div>
                    
                </div>
            </div>

        </div>

        <!-- Board -->
        <div class="board">

        </div>

    </div>

    <script src="notice_board.js"></script>
</body>
</html>